body {
  background-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 40px;
  font-size: large;
}

.container-fluid {
  background-color: #333;
  padding: 20px;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
.project {
  margin-bottom: 20px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #535bf2;
  
}

.card-img-top {
  padding: 50px;
}

.row {
  justify-content: center;
}